---
import config from "@/config/config.json";
import { Image } from "astro:assets";
const { src, showText } = Astro.props;
const {
  logo_text,
  logo_width,
  logo_height,
  title,
}: {
  logo: string;
  logo_text: string;
  logo_width: string;
  logo_height: string;
  title: string;
} = config.site;

const text = logo_text;
---

<a href="/" class="navbar-brand flex flex-row items-center">
  {
    src ? (
      <Image
        class="h-9 w-auto"
        src={src}
        alt={title}
        width={Number(logo_width)}
        height={Number(logo_height)}
      />
    ) : (
      <>
        <svg
          width="48"
          height="32"
          viewBox="0 0 546 484"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M518.6 24H28V460.9H518.6V24Z"
            fill="#FFFAFA"
            stroke="black"
            stroke-width="4.39153"
          />
          <path
            d="M70.8301 232.17V25.2849H517.302V377.375L483.557 412.07H217.491L70.8301 232.17Z"
            fill="#73D2F0"
            stroke="black"
            stroke-width="4.39153"
          />
          <path
            d="M323.917 304.13C388.43 304.13 440.727 252.352 440.727 188.48C440.727 124.608 388.43 72.83 323.917 72.83C259.405 72.83 207.108 124.608 207.108 188.48C207.108 252.352 259.405 304.13 323.917 304.13Z"
            fill="#FFFAFA"
            stroke="black"
            stroke-width="4.39153"
          />
          <path
            d="M323.917 221.89C342.554 221.89 357.662 206.932 357.662 188.48C357.662 170.028 342.554 155.07 323.917 155.07C305.281 155.07 290.172 170.028 290.172 188.48C290.172 206.932 305.281 221.89 323.917 221.89Z"
            fill="#0D0D0D"
            stroke="black"
            stroke-width="4.39153"
          />
        </svg>
      </>
    )
  }

  {
    showText != false && (
      <p class="hidden md:block text-text md:text-3xl font-bold ml-2">
        {text ? text : logo_text}
      </p>
    )
  }
</a>
